@import "tailwindcss";

@theme inline {
	--background: #000000;
	--foreground: #F2F2F2;
	--gradient: linear-gradient(#7ABFFF, #0A5FFF);

	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-panel: rgb(0 0 0 / 50%);
	--color-shade: rgb(128 128 128 / 50%);
	--color-highlight: #fdd700;
	--color-highlight-text: #000000;
	--color-outline: var(--foreground);

	--color-advantage: #fb406a;
	--color-disadvantage: #007efe;

	--color-glow-bad: #222222;
	--color-glow-good: #F2F2F2;

	--color-secondary: #C2C2C2;
	--color-disabled: #A2A2A2;
}

body {
	background: var(--gradient);
	background-attachment: fixed;
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

footer {
	color: var(--foreground);
	text-align: center;
}

*:focus {
	outline: 2px solid white;
}

@layer components {
	.panel {
		position: relative;
		padding: 0.5rem;

		background-color: var(--color-panel);
		border-radius: 0.5rem;
	}
	.panel.float {
		position: sticky;
		z-index: 1;
		top: 0.5rem;

		backdrop-filter: blur(10px);
	}
	.inner-panel {
		background-color: var(--color-panel);
		border-radius: 0.5rem;
		border-color: var(--color-outline);
	}

	.clickable {
		user-select: none;
	}
	.clickable:hover {
		background-color: var(--color-highlight);
		color: #000000;
		cursor: pointer;
	}

	.filter-button {
		transition: filter 0.2s ease-in-out;
	}
	.filter-button.inactive {
		filter: grayscale(100%) contrast(30%);
	}

	.popup {
		position: absolute;
		z-index: 1;

		background-color: var(--color-panel);
		backdrop-filter: blur(10px);
		border-radius: 0.5rem;
		padding: 0.5rem;
	}

	.glow-pos {
		background-color: var(--color-glow-good);
		box-shadow: 0 0 2px var(--color-glow-good);
	}
	.glow-neg {
		background-color: var(--color-glow-bad);
		box-shadow: 0 0 2px var(--color-glow-bad);
	}

	.center-absolute {
		left: 50%;
		translate: -50% 0;
	}

	.sidemenu {
		position: fixed;
		z-index: 2;

		left: 10px;
		top: 10px;

		min-width: 10%;

		background-color: var(--color-panel);
		backdrop-filter: blur(10px);
		border-radius: 0.5rem;
		padding: 1rem;

		animation: animation-slide-right 0.05s linear;
	}

	.pop {
		transition: scale 0.2s ease-in-out;
		scale: 1;
	}
	.pop.hide {
		scale: 0;
	}

	.fade {
		transition: opacity 0.5s ease-in-out;
		opacity: 1;
	}
	.fade.hide {
		opacity: 0;
	}

	.wiggle:hover > .wiggle-target {
		animation: animation-shake 0.25s linear infinite;
	}
	.slow-wiggle:hover > .wiggle-target {
		animation: animation-shake 0.5s linear infinite;
	}

	.anim-pulse {
		animation: animation-pulse 0.3s linear;
	}
	.anim-fade-in {
		animation: animation-fade-in 0.2s linear;
	}
	.anim-grow {
		animation: animation-grow 0.05s linear;
	}
}

@keyframes animation-pulse {
	0% { transform: scale(1); }
	50% { transform: scale(1.05); }
	100% { transform: scale(1); }
}

@keyframes animation-fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes animation-spin {
	0% { transform: rotate3d(0, 1, 0, 90deg); }
	70% { transform: rotate3d(0, 1, 0, -20deg); }
	100% { transform: rotate3d(0, 1, 0, 0deg); }
}

@keyframes animation-grow {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}

@keyframes animation-slide-right {
	from { transform: translate(-100%, 0); }
	to { transform: translate(0, 0); }
}

@keyframes animation-shake {
	0% { transform: translate(0, 0); }
	50% { transform: translate(0, -5%); }
	100% { transform: translate(0, 0); }
}