@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-gradient: linear-gradient(#7ABFFF, #0A5FFF);
	--color-foreground: #F2F2F2;
	--color-panel: rgb(0 0 0 / 50%);
	--color-highlight: rgb(25 25 25 / 50%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

@layer components {
	.gradient {
		background: linear-gradient(#7ABFFF, #0A5FFF);
	}

	.panel {
		background-color: var(--color-panel);
		border-radius: 0.5rem;
	}
	.panel.clickable {
		user-select: none;
	}
	.panel.clickable:hover {
		background-color: var(--color-highlight);
		cursor: pointer;
	}

	.inactive {
		filter: grayscale(100%) contrast(30%);
	}

	.fade {
		transition: opacity 0.2s ease-in-out;
		opacity: 1;
	}
	.fade.hide {
		opacity: 0;
	}

	.anim-pulse {
		animation: animation-pulse 0.3s linear;
	}
	.anim-fade-in {
		animation: animation-fade-in 0.2s linear;
	}
}

@keyframes animation-pulse {
	0% { transform: scale(1); }
	50% { transform: scale(1.05); }
	100% { transform: scale(1); }
}

@keyframes animation-fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes animation-spin {
	0% { transform: rotate3d(0, 1, 0, 90deg); }
	70% { transform: rotate3d(0, 1, 0, -20deg); }
	100% { transform: rotate3d(0, 1, 0, 0deg); }
}